<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Home</title>
</head>
<body>
    <h1>Admin Home</h1>
    <a href="{% url 'purchaser_home' %}">Purchaser home</a>
    <a href="{% url 'all_purchases' %}">Todas las compras</a>
    <a href="{% url 'search_by_user' %}">Buscar por usuario</a>
    <a href="{% url 'search_by_state' %}">Buscar por estado</a>
    <a href="{% url 'admin_stores' %}">Admin stores</a>
</body>
</html>