<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search by User</title>
</head>
<body>
    <h1>Search by User</h1>
    <form method="post">
        {% csrf_token %}
        <label for="search_purchase">Enter User Name:</label>
        <input type="text" id="search_purchase" name="search_purchase">
        <button type="submit">Search</button>
    </form>

    {% if purchasers %}
    <h2>Search Results:</h2>
    <ul>
        {% for purchaser in purchasers %}
        <a href="{% url 'purchases_by_user' purchaser.id %}">{{ purchaser.name }}</a>
        {% endfor %}
    </ul>
    {% else %}
    <p>No results found.</p>
    {% endif %}
</body>
</html>
