<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finish Purchase</title>
</head>
<body>
    <h1>Finish Purchase</h1>
    
    <h2>Productos en el carrito:</h2>
    <ul>
        {% for item in cart_items %}
            <li>
                Producto: {{ item.product.product_name }}
                Cantidad: {{ item.quantity }}
                Precio parcial: ${{ item.partial_price }}
            </li>
        {% endfor %}
    </ul>
    
    <h3>Total del carrito: ${{ cart.total_price }}</h3>
    <h4>Muchas gracias por tu compra</h4>
    <a href="{% url 'purchaser_home' %}">Regresar a home </a>
</body>
</html>
